.c-form {
  background-color: $blank;
  border-radius: 4px;
  box-shadow: 0 2px 5px 0 rgba(13,38,57,0.05);
  margin: 20px auto 120px;
  padding: 30px;
  max-width: 1024px;
  display: block;
  border-color: #e9ecef;
  &.is-fluid {
    max-width: calc(100% - 40px);
  }
  &--title {
    color: $blue-dodger;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  &--label {
    font-size: 14px;
    color: #9F9F9F;
  }
  &.was-validated {
    .form-check-input:valid~.form-check-label {
      color: $noir;
    }
  }
  &.was-validated {
    .form-group {
      &.is-error {
        .form-control {
          border-color: #dc3545;
          background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23dc3545' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
        }
        .invalid-feedback {
          display: block;
        }
      }
    }
  }
}

.form {
  &-control,
  &-check {
    font-size: 14px;
    color: #0D2639;
    letter-spacing: 0.2px;
    &-radio, &-box {
      width: 24px;
      height: 24px;
      -webkit-appearance: none;
      -moz-appearance: none;
      border: 2px solid #ced4da;
      border-radius: 50%;
      margin-right: 10px !important;
      position: relative;
      cursor: pointer;
      &:after {
        width: 14px;
        height: 14px;
        top: 5px;
        left: 5px;
        border-radius: 50%;
        background-color: $blank;
        position: absolute;
        content: '';
      }
      &:focus, &:hover, &:active {
        outline: none;
        box-shadow: none;
      }
      &:checked {
        border-color: $blue-dodger;
        outline: none;
        box-shadow: none;
        &:after {
          background-color: $blue-dodger;
        }
      }
    }
    &-box {
      border-radius: 4px;
      &:after {
        width: 14px;
        height: 14px;
        top: 5px;
        left: 5px;
        background-color: transparent;
        background-image: url('./../images/icons/check-white.svg');
        background-size: contain;
        position: absolute;
        content: '';
      }
      &:checked {
        background-color: $blue-dodger;
        border-color: $blue-dodger;
        outline: none;
        box-shadow: 3px 3px 10px 0 rgba(51,134,255,0.3);
        &:after {
          background-color: $blue-dodger;
        }
      }
    }
    &-label {
      line-height: 24px;
      cursor: pointer;
    }
    &.is-height-auto {
      height: auto;
    }
  }
}

select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('./../images/icons/chevron-down.svg');
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: calc(100% - 10px);
}

input.datetimepicker {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('./../images/icons/calendar.svg');
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: calc(100% - 10px);
  cursor: pointer;
}

.select2-container--default .select2-selection--single {
  @extend .form-control
}