.c-pagination,
.dataTables_wrapper {
  margin-bottom: 0;
  &--outer,
  .dataTables_paginate {
    padding: 20px 25px;
    text-align: right;
  }
  &--pages {
    float: left;
    font-size: 12px;
    line-height: 31px;
    opacity: .5;
  }
  .paginate_button {
    display: inline-block;
    border: 0;
    background-color: transparent;
    font-size: 12px;
    opacity: .5;
    color: #212121;
    margin: 0 5px;
    padding: 0 5px;
    cursor: pointer;
    &:focus {
      box-shadow: none;
    }
    &.disabled {
      pointer-events: none;
      cursor: not-allowed;
    }
    &.current {
      background-color: $blue-dodger;
      border-radius: 4px;
      opacity: 1;
      color: $blank;
    }
  }
}