.c-table {
  margin-bottom: 0;
  &--outer {
    border: 1px solid #e9ecef;
    border-radius: 4px;
    overflow: hidden;
    margin: 30px;
    background-color: $blank;
  }
  &.table {
    thead {
      th {
        padding: 12px;
        &:first-child {
          padding-left: 20px;
        }
        &:last-child {
          padding-right: 20px;
        }
        &.checkbox {
          width: 50px;
        }
        border: 0;
      }
    }
    tbody {
      td {
        border-color: #E8EEF3;
        padding: 12px;
        &:first-child {
          padding-left: 20px;
        }
        &:last-child {
          padding-right: 20px;
        }
        &.checkbox {
          width: 50px;
        }
        a, .btn {
          opacity: .5;
          position: relative;
          top: 2px;
          &:hover,
          &:active,
          &:focus {
            outline: none;
            opacity: .7;
            background-color: transparent;
            border-color: transparent;
          }
        }
      }
      tr:nth-of-type(odd) {
        background-color: #FAFCFD;
      }
    }
    th, td {
      &.th-item {
        width: 260px !important;
      }
      &.th-note {
        width: 200px !important;
      }
      &.th-qty,
      &.th-action,
      &:last-child {
        width: 50px !important;
      }
      &.th-price,
      &.th-total {
        width: 130px !important;
      }
      &.th-dcs {
        width: 85px !important;
      }
    }
  }
}