.u-c-blue {
  color: #3386FF;
}

html,
body {
  background-color: #F5F6FA;
  color: #212121;
  font-size: 14px;
  line-height: 21px;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 0.1rem;
}

h5 {
  font-size: 0.85rem;
}

.main {
  position: unset;
  z-index: 3;
  margin-top: 70px;
  padding-left: 300px;
  transition: all 0s;
  width: 100%;
  top: 0;
  left: 0;
}

.main.is-close {
  margin-left: 100px;
  width: calc(100% - 100px);
  padding-left: 0;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-track:hover {
  background: #e9ecef;
}

::-webkit-scrollbar-thumb {
  background: #ced4da;
}

::-webkit-scrollbar-thumb:hover {
  background: #adb5bd;
}

.c-box {
  background-color: #FFFFFF;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 0 2px 5px 0 rgba(13, 38, 57, 0.05);
}

.btn {
  min-width: 100px;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.2px;
  line-height: 20px;
  text-align: center;
  padding: 10px 20px;
}

.btn-primary {
  background-color: #225F90;
  border: 0;
  box-shadow: 3px 3px 10px 0 rgba(34, 95, 144, 0.3);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:not:disabled {
  background-color: #3386FF;
}

.btn-secondary {
  border: 0;
}

.btn-light {
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  border: 0;
}

.btn-danger {
  border: 0;
}

.btn.is-small {
  min-width: 0;
  padding: 0 4px;
}

.c-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100vh;
  background-color: #FFFFFF;
  padding: 20px 0;
  border-right: 1px solid #e9ecef;
  z-index: 5;
  transition: all 0s;
}

.c-sidebar--logo {
  padding: 0 30px;
}

.c-sidebar--logo .btn span:first-child {
  display: none;
}

.c-sidebar--logo .btn span:last-child {
  display: inline-block;
}

.c-sidebar .logo-icon {
  display: none;
  margin: 12px auto;
}

.c-sidebar .logo-full {
  display: block;
  margin: 0 auto;
}

.c-sidebar .c-nav {
  padding: 0 30px;
  overflow: auto;
  height: calc(100vh - 132px - 20px);
}

.c-sidebar .c-nav::-webkit-scrollbar-thumb {
  background: transparent;
}

.c-sidebar .c-nav:hover::-webkit-scrollbar-thumb {
  background: #ced4da;
}

.c-sidebar .c-nav--item {
  cursor: pointer;
}

.c-sidebar .c-nav--item > a {
  display: block;
  padding: 10px 8px 10px 0;
  position: relative;
  color: #555555;
  cursor: pointer;
}

.c-sidebar .c-nav--item > a span {
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  color: #777;
}

.c-sidebar .c-nav--item > a:before {
  display: none;
  background-color: #e8f0fe;
  width: 30px;
  height: 100%;
  position: absolute;
  left: -30px;
  top: 0;
  content: "";
}

.c-sidebar .c-nav--item > a.is-active {
  color: #225F90;
  background-color: #e8f0fe;
  border-radius: 0 30px 30px 0;
}

.c-sidebar .c-nav--item > a.is-active .svg.replaced-svg path {
  color: #225F90;
}

.c-sidebar .c-nav--item > a.is-active span {
  color: #225F90;
}

.c-sidebar .c-nav--item > a.is-active:before {
  display: block;
}

.c-sidebar .c-nav--item > a:hover {
  color: #225F90;
  background-color: #f8f9fa;
  border-radius: 0 30px 30px 0;
  cursor: pointer;
}

.c-sidebar .c-nav--item > a:hover:before {
  display: block;
  background-color: #f8f9fa;
}

.c-sidebar .c-nav--item > a:hover,
.c-sidebar .c-nav--item > a:focus,
.c-sidebar .c-nav--item > a:active {
  color: #225F90;
  text-decoration: none;
}

.c-sidebar.is-close {
  width: 100px;
  padding: 30px 15px;
}

.c-sidebar.is-close .c-sidebar--logo {
  padding: 0;
}

.c-sidebar.is-close .c-sidebar--logo .btn {
  min-width: auto;
}

.c-sidebar.is-close .c-sidebar--logo .btn span:first-child {
  display: inline-block;
}

.c-sidebar.is-close .c-sidebar--logo .btn span:last-child {
  display: none;
}

.c-sidebar.is-close .logo-icon {
  display: block;
  margin: 0 auto;
}

.c-sidebar.is-close .logo-full {
  display: none;
  margin: 0 auto;
}

.c-sidebar.is-close .c-nav {
  padding: 0;
}

.c-sidebar.is-close .c-nav--item > a {
  text-align: center;
  padding: 15px 0;
}

.c-sidebar.is-close .c-nav--item > a.is-active {
  border-radius: 30px;
}

.c-sidebar.is-close .c-nav--item > a span {
  margin-right: 0 !important;
}

.c-sidebar.is-close .c-nav--item > a span:last-child {
  display: none;
}

.c-header {
  position: fixed;
  width: calc(100% - 300px);
  left: 300px;
  top: 0;
  background-color: #FFFFFF;
  border-bottom: 1px solid #e9ecef;
  z-index: 4;
  transition: all 0s;
}

.c-header.is-close {
  left: 100px;
  width: calc(100% - 100px);
}

.c-header .c-bars {
  padding: 20px 30px;
  width: 90px;
  line-height: 30px;
  cursor: pointer;
}

.c-header .c-search {
  width: calc(100% - 90px - 255px);
  padding: 20px 0;
  position: relative;
}

.c-header .c-search--inner {
  padding: 0 40px;
}

.c-header .c-search--inner .form-control,
.c-header .c-search--inner .select2-container--default .select2-selection--single,
.select2-container--default .c-header .c-search--inner .select2-selection--single {
  padding: 0 10px;
  height: 30px;
}

.c-header .c-search--inner .form-control:hover,
.c-header .c-search--inner .select2-container--default .select2-selection--single:hover,
.select2-container--default .c-header .c-search--inner .select2-selection--single:hover,
.c-header .c-search--inner .form-control:active,
.c-header .c-search--inner .select2-container--default .select2-selection--single:active,
.select2-container--default .c-header .c-search--inner .select2-selection--single:active,
.c-header .c-search--inner .form-control:focus,
.c-header .c-search--inner .select2-container--default .select2-selection--single:focus,
.select2-container--default .c-header .c-search--inner .select2-selection--single:focus {
  box-shadow: none;
  border: 0;
}

.c-header .c-search .svg {
  position: absolute;
  left: 0;
  top: 23px;
}

.c-header .c-user {
  width: 255px;
  padding: 20px 30px;
  border-left: 1px solid #e9ecef;
}

.c-header .c-user--avatar {
  height: 30px;
  width: 30px;
  border-radius: 4px;
  background-color: #A6BFD2;
  text-align: center;
  cursor: pointer;
}

.c-header .c-user--avatar .svg.replaced-svg {
  color: #FFFFFF;
  margin-top: 3px;
}

.c-header .c-user--name {
  width: 140px;
  padding: 0 0 0 20px;
  line-height: 30px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
}

.c-header .c-user--arrow {
  cursor: pointer;
}

.c-header .c-user--arrow .svg.replaced-svg {
  margin-top: 3px;
}

.c-header .c-user.dropdown .dropdown-menu {
  left: auto !important;
  top: 10px !important;
  right: 39px;
  width: 230px;
  box-shadow: 2px 2px 10px 0 rgba(13, 38, 57, 0.05);
  border-color: #E8EEF3;
}

.c-header .c-user.dropdown .dropdown-menu:before {
  content: "";
  position: absolute;
  right: 11px;
  top: -10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px;
  border-color: transparent transparent #ffffff transparent;
  z-index: 9999;
}

.c-header .c-user.dropdown .dropdown-menu:after {
  content: "";
  position: absolute;
  right: 10px;
  top: -11px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 11px 11px;
  border-color: transparent transparent #E8EEF3 transparent;
  z-index: 9998;
}

.c-header .svg.replaced-svg {
  color: #b4b4b4;
}

.c-title {
  background-color: #FFFFFF;
  padding: 20px 30px;
  border-bottom: 1px solid #E8EEF3;
  font-weight: 600;
}

.c-breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: normal;
  color: #b4b4b4;
}

.c-table {
  margin-bottom: 0;
  width: 100% !important;
}

.c-table--outer {
  border: 1px solid #e9ecef;
  border-radius: 4px;
  overflow: hidden;
  margin: 30px;
  background-color: #FFFFFF;
}

.c-table.table thead th {
  padding: 12px;
  border: 0;
}

.c-table.table thead th:first-child {
  padding-left: 20px;
}

.c-table.table thead th:last-child {
  padding-right: 20px;
}

.c-table.table thead th.checkbox {
  width: 50px !important;
}

.c-table.table tbody td {
  border-color: #E8EEF3;
  padding: 12px;
  vertical-align: middle;
}

.c-table.table tbody td.details-control {
  background-image: url(/images/chevron-down.svg?a4def72d2130ad495bd430a382c6e02c);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
}

.c-table.table tbody td:first-child {
  padding-left: 20px;
}

.c-table.table tbody td:last-child {
  padding-right: 20px;
}

.c-table.table tbody td.checkbox {
  width: 50px;
}

.c-table.table tbody td a,
.c-table.table tbody td .btn {
  opacity: 0.5;
  position: relative;
  top: -3px;
}

.c-table.table tbody td a:hover,
.c-table.table tbody td a:active,
.c-table.table tbody td a:focus,
.c-table.table tbody td .btn:hover,
.c-table.table tbody td .btn:active,
.c-table.table tbody td .btn:focus {
  outline: none;
  opacity: 0.7;
  background-color: transparent;
  border-color: transparent;
}

.c-table.table tbody td a.btn-primary,
.c-table.table tbody td .btn.btn-primary {
  opacity: 1 !important;
  top: 0 !important;
  margin-top: 10px;
}

.c-table.table tbody td a.btn-primary:hover,
.c-table.table tbody td a.btn-primary:active,
.c-table.table tbody td a.btn-primary:focus,
.c-table.table tbody td .btn.btn-primary:hover,
.c-table.table tbody td .btn.btn-primary:active,
.c-table.table tbody td .btn.btn-primary:focus {
  outline: none;
  opacity: 1;
  background-color: #0062cc;
  border-color: #005cbf;
}

.c-table.table tbody tr:nth-of-type(odd) {
  background-color: #FAFCFD;
}

.c-table.table th.th-item,
.c-table.table td.th-item {
  width: 260px !important;
}

.c-table.table th.th-note,
.c-table.table td.th-note {
  width: 200px !important;
}

.c-table.table th.th-qty,
.c-table.table th.th-action,
.c-table.table th:last-child,
.c-table.table td.th-qty,
.c-table.table td.th-action,
.c-table.table td:last-child {
  width: 50px !important;
}

.c-table.table th.th-price,
.c-table.table th.th-total,
.c-table.table td.th-price,
.c-table.table td.th-total {
  width: 130px !important;
}

.c-table.table th.th-dcs,
.c-table.table td.th-dcs {
  width: 85px !important;
}

.table-responsive th,
.table-responsive td {
  white-space: nowrap;
}

.table-responsive.adjust-width table.c-table {
  width: 1820px !important;
}

#form-edit-sales-order .c-table.table tbody td:last-child {
  width: 150px !important;
}

.c-pagination,
.dataTables_wrapper {
  margin-bottom: 0;
}

.c-pagination--outer,
.c-pagination .dataTables_paginate,
.dataTables_wrapper--outer,
.dataTables_wrapper .dataTables_paginate {
  padding: 20px 25px;
  text-align: right;
}

.c-pagination--pages,
.dataTables_wrapper--pages {
  float: left;
  font-size: 12px;
  line-height: 31px;
  opacity: 0.5;
}

.c-pagination .paginate_button,
.dataTables_wrapper .paginate_button {
  display: inline-block;
  border: 0;
  background-color: transparent;
  font-size: 12px;
  opacity: 0.5;
  color: #212121;
  margin: 0 5px;
  padding: 0 5px;
  cursor: pointer;
}

.c-pagination .paginate_button:focus,
.dataTables_wrapper .paginate_button:focus {
  box-shadow: none;
}

.c-pagination .paginate_button.disabled,
.dataTables_wrapper .paginate_button.disabled {
  pointer-events: none;
  cursor: not-allowed;
}

.c-pagination .paginate_button.current,
.dataTables_wrapper .paginate_button.current {
  background-color: #3386FF;
  border-radius: 4px;
  opacity: 1;
  color: #FFFFFF;
}

.c-form {
  background-color: #FFFFFF;
  border-radius: 4px;
  box-shadow: 0 2px 5px 0 rgba(13, 38, 57, 0.05);
  margin: 20px auto 120px;
  padding: 30px;
  max-width: 1024px;
  display: block;
  border-color: #e9ecef;
}

.c-form.is-fluid {
  max-width: calc(100% - 40px);
}

.c-form--title {
  color: #3386FF;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.c-form--label {
  font-size: 14px;
  color: #9F9F9F;
}

.c-form.was-validated .form-check-input:valid ~ .form-check-label {
  color: #212121;
}

.c-form.was-validated .form-group.is-error .form-control,
.c-form.was-validated .form-group.is-error .select2-container--default .select2-selection--single,
.select2-container--default .c-form.was-validated .form-group.is-error .select2-selection--single,
.c-form.was-validated .form-group-list.is-error .form-control,
.c-form.was-validated .form-group-list.is-error .select2-container--default .select2-selection--single,
.select2-container--default .c-form.was-validated .form-group-list.is-error .select2-selection--single {
  border-color: #dc3545;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23dc3545' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
  background-repeat: no-repeat;
  background-position: center right calc(.375em + .1875rem);
  background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.c-form.was-validated .form-group.is-error .invalid-feedback,
.c-form.was-validated .form-group-list.is-error .invalid-feedback {
  display: block;
}

.c-form.was-validated .form-group.is-error .select2 .select2-selection,
.c-form.was-validated .form-group-list.is-error .select2 .select2-selection {
  border-color: #dc3545;
}

.form-control,
.select2-container--default .select2-selection--single,
.form-check {
  font-size: 14px;
  color: #0D2639;
  letter-spacing: 0.2px;
}

.form-control.cursor-pointer,
.select2-container--default .cursor-pointer.select2-selection--single,
.form-check.cursor-pointer {
  cursor: pointer;
}

.form-control-radio,
.form-control-box,
.form-check-radio,
.form-check-box {
  width: 24px;
  height: 24px;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 2px solid #ced4da;
  border-radius: 50%;
  margin-right: 10px !important;
  position: relative;
  cursor: pointer;
}

.form-control-radio:after,
.form-control-box:after,
.form-check-radio:after,
.form-check-box:after {
  width: 14px;
  height: 14px;
  top: 5px;
  left: 5px;
  border-radius: 50%;
  background-color: #FFFFFF;
  position: absolute;
  content: "";
}

.form-control-radio:focus,
.form-control-radio:hover,
.form-control-radio:active,
.form-control-box:focus,
.form-control-box:hover,
.form-control-box:active,
.form-check-radio:focus,
.form-check-radio:hover,
.form-check-radio:active,
.form-check-box:focus,
.form-check-box:hover,
.form-check-box:active {
  outline: none;
  box-shadow: none;
}

.form-control-radio:checked,
.form-control-box:checked,
.form-check-radio:checked,
.form-check-box:checked {
  border-color: #3386FF;
  outline: none;
  box-shadow: none;
}

.form-control-radio:checked:after,
.form-control-box:checked:after,
.form-check-radio:checked:after,
.form-check-box:checked:after {
  background-color: #3386FF;
}

.form-control-box,
.form-check-box {
  border-radius: 4px;
}

.form-control-box:after,
.form-check-box:after {
  width: 14px;
  height: 14px;
  top: 5px;
  left: 5px;
  background-color: transparent;
  background-image: url(/images/check-white.svg?b8e3aeb7b75ee37bf64d63a58a13c12d);
  background-size: contain;
  position: absolute;
  content: "";
}

.form-control-box:checked,
.form-check-box:checked {
  background-color: #3386FF;
  border-color: #3386FF;
  outline: none;
  box-shadow: 3px 3px 10px 0 rgba(51, 134, 255, 0.3);
}

.form-control-box:checked:after,
.form-check-box:checked:after {
  background-color: #3386FF;
}

.form-control-box.is-reverse,
.form-check-box.is-reverse {
  background-color: #3386FF;
  border-color: #3386FF;
  outline: none;
  box-shadow: 3px 3px 10px 0 rgba(51, 134, 255, 0.3);
}

.form-control-box.is-reverse:checked,
.form-check-box.is-reverse:checked {
  background-color: transparent;
  border: 2px solid #ced4da;
  box-shadow: none;
}

.form-control-box.is-reverse:checked:after,
.form-check-box.is-reverse:checked:after {
  background-color: transparent;
  background-image: none;
}

.form-control-label,
.form-check-label {
  line-height: 24px;
  cursor: pointer;
}

.form-control.is-height-auto,
.select2-container--default .is-height-auto.select2-selection--single,
.form-check.is-height-auto {
  height: auto;
}

select.form-control,
.select2-container--default select.select2-selection--single {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(/images/chevron-down.svg?a4def72d2130ad495bd430a382c6e02c);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: calc(100% - 10px);
}

input.datetimepicker {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(/images/calendar.svg?5241fd60c27bd1f559ce2947831d706f);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: calc(100% - 10px);
  cursor: pointer;
}

.bootstrap-datetimepicker-widget {
  max-width: 241px;
  position: absolute;
  z-index: 1000;
  margin: 11px 1px !important;
  background-color: #FFFFFF;
  border-radius: 4px;
  border-color: #ced4da;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.bootstrap-datetimepicker-widget.dropdown-menu.bottom::before {
  left: 14px;
}

.bootstrap-datetimepicker-widget.dropdown-menu.bottom::after {
  left: 15px;
}

.bootstrap-datetimepicker-widget ul {
  list-style: none;
}

.bootstrap-datetimepicker-widget ul .table-condensed {
  text-shadow: none;
}

.bootstrap-datetimepicker-widget ul .table-condensed thead tr th {
  padding: 7px;
  border: 1px solid #FFFFFF;
  vertical-align: top;
  text-align: center;
  text-shadow: none !important;
  min-width: 0 !important;
  font-size: 13px;
}

.bootstrap-datetimepicker-widget ul .table-condensed thead tr th.picker-switch {
  padding-top: 8px;
  cursor: pointer;
}

.bootstrap-datetimepicker-widget ul .table-condensed thead tr th.prev,
.bootstrap-datetimepicker-widget ul .table-condensed thead tr th.next {
  width: 36px;
  cursor: pointer;
}

.bootstrap-datetimepicker-widget ul .table-condensed thead tr th[title="Select Decade"] {
  pointer-events: none;
}

.bootstrap-datetimepicker-widget ul .table-condensed tbody tr td,
.bootstrap-datetimepicker-widget ul .table-condensed tbody tr span.month,
.bootstrap-datetimepicker-widget ul .table-condensed tbody tr span.year {
  text-shadow: none !important;
  padding: 3px 7px;
  border-radius: 0;
  border: 1px solid #FFFFFF;
  min-width: 0 !important;
  font-size: 13px;
  text-align: center;
  cursor: pointer;
}

.bootstrap-datetimepicker-widget ul .table-condensed tbody tr td.active,
.bootstrap-datetimepicker-widget ul .table-condensed tbody tr span.month.active,
.bootstrap-datetimepicker-widget ul .table-condensed tbody tr span.year.active {
  background-color: #3386FF;
  color: #FFFFFF;
}

.bootstrap-datetimepicker-widget ul .table-condensed tbody tr td.today,
.bootstrap-datetimepicker-widget ul .table-condensed tbody tr span.month.today,
.bootstrap-datetimepicker-widget ul .table-condensed tbody tr span.year.today {
  background-color: #fefbd2;
  color: #212121;
}

.bootstrap-datetimepicker-widget ul .table-condensed tbody tr td.today::before,
.bootstrap-datetimepicker-widget ul .table-condensed tbody tr span.month.today::before,
.bootstrap-datetimepicker-widget ul .table-condensed tbody tr span.year.today::before {
  display: none;
}

.bootstrap-datetimepicker-widget ul .table-condensed tbody tr td.day.active,
.bootstrap-datetimepicker-widget ul .table-condensed tbody tr td.month.active,
.bootstrap-datetimepicker-widget ul .table-condensed tbody tr td.year.active,
.bootstrap-datetimepicker-widget ul .table-condensed tbody tr span.month.day.active,
.bootstrap-datetimepicker-widget ul .table-condensed tbody tr span.month.month.active,
.bootstrap-datetimepicker-widget ul .table-condensed tbody tr span.month.year.active,
.bootstrap-datetimepicker-widget ul .table-condensed tbody tr span.year.day.active,
.bootstrap-datetimepicker-widget ul .table-condensed tbody tr span.year.month.active,
.bootstrap-datetimepicker-widget ul .table-condensed tbody tr span.year.year.active {
  background-color: #3386FF;
  color: #FFFFFF;
}

.bootstrap-datetimepicker-widget ul .table-condensed tbody tr td.day.old,
.bootstrap-datetimepicker-widget ul .table-condensed tbody tr td.day.new,
.bootstrap-datetimepicker-widget ul .table-condensed tbody tr td.month.old,
.bootstrap-datetimepicker-widget ul .table-condensed tbody tr td.month.new,
.bootstrap-datetimepicker-widget ul .table-condensed tbody tr td.year.old,
.bootstrap-datetimepicker-widget ul .table-condensed tbody tr td.year.new,
.bootstrap-datetimepicker-widget ul .table-condensed tbody tr span.month.day.old,
.bootstrap-datetimepicker-widget ul .table-condensed tbody tr span.month.day.new,
.bootstrap-datetimepicker-widget ul .table-condensed tbody tr span.month.month.old,
.bootstrap-datetimepicker-widget ul .table-condensed tbody tr span.month.month.new,
.bootstrap-datetimepicker-widget ul .table-condensed tbody tr span.month.year.old,
.bootstrap-datetimepicker-widget ul .table-condensed tbody tr span.month.year.new,
.bootstrap-datetimepicker-widget ul .table-condensed tbody tr span.year.day.old,
.bootstrap-datetimepicker-widget ul .table-condensed tbody tr span.year.day.new,
.bootstrap-datetimepicker-widget ul .table-condensed tbody tr span.year.month.old,
.bootstrap-datetimepicker-widget ul .table-condensed tbody tr span.year.month.new,
.bootstrap-datetimepicker-widget ul .table-condensed tbody tr span.year.year.old,
.bootstrap-datetimepicker-widget ul .table-condensed tbody tr span.year.year.new {
  opacity: 0.3;
}

.bootstrap-datetimepicker-widget ul .table-condensed tbody tr td span.month,
.bootstrap-datetimepicker-widget ul .table-condensed tbody tr td span.year,
.bootstrap-datetimepicker-widget ul .table-condensed tbody tr span.month span.month,
.bootstrap-datetimepicker-widget ul .table-condensed tbody tr span.month span.year,
.bootstrap-datetimepicker-widget ul .table-condensed tbody tr span.year span.month,
.bootstrap-datetimepicker-widget ul .table-condensed tbody tr span.year span.year {
  width: 25%;
  display: inline-block;
}

.select2-container {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle;
}

.select2-container .select2-selection--single {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 28px;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  display: block;
  padding-left: 8px;
  padding-right: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.select2-container .select2-selection--single .select2-selection__clear {
  position: relative;
}

.select2-container[dir=rtl] .select2-selection--single .select2-selection__rendered {
  padding-right: 8px;
  padding-left: 20px;
}

.select2-container .select2-selection--multiple {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  min-height: 32px;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
  display: inline-block;
  overflow: hidden;
  padding-left: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.select2-container .select2-search--inline {
  float: left;
}

.select2-container .select2-search--inline .select2-search__field {
  box-sizing: border-box;
  border: none;
  font-size: 100%;
  margin-top: 5px;
  padding: 0;
}

.select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.select2-dropdown {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  position: absolute;
  left: -100000px;
  width: 100%;
  z-index: 1051;
}

.select2-results {
  display: block;
}

.select2-results__options {
  list-style: none;
  margin: 0;
  padding: 0;
}

.select2-results__option {
  padding: 6px;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}

.select2-results__option[aria-selected] {
  cursor: pointer;
}

.select2-container--open .select2-dropdown {
  left: 0;
}

.select2-container--open .select2-dropdown--above {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select2-container--open .select2-dropdown--below {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.select2-search--dropdown {
  display: block;
  padding: 4px;
}

.select2-search--dropdown .select2-search__field {
  padding: 4px;
  width: 100%;
  box-sizing: border-box;
}

.select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.select2-search--dropdown.select2-search--hide {
  display: none;
}

.select2-close-mask {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 99;
  background-color: #fff;
  filter: alpha(opacity=0);
}

.select2-hidden-accessible {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #444;
  line-height: 28px;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #999;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 26px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #888 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  height: 0;
  left: 50%;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 0;
}

.select2-container--default[dir=rtl] .select2-selection--single .select2-selection__clear {
  float: left;
}

.select2-container--default[dir=rtl] .select2-selection--single .select2-selection__arrow {
  left: 1px;
  right: auto;
}

.select2-container--default.select2-container--disabled .select2-selection--single {
  background-color: #eee;
  cursor: default;
}

.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {
  display: none;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #888 transparent;
  border-width: 0 4px 5px 4px;
}

.select2-container--default .select2-selection--multiple {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: text;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0 5px;
  width: 100%;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
  list-style: none;
}

.select2-container--default .select2-selection--multiple .select2-selection__placeholder {
  color: #999;
  margin-top: 5px;
  float: left;
}

.select2-container--default .select2-selection--multiple .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
  margin-top: 5px;
  margin-right: 10px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #e4e4e4;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: default;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  padding: 0 5px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: #999;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin-right: 2px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #333;
}

.select2-container--default[dir=rtl] .select2-selection--multiple .select2-selection__choice,
.select2-container--default[dir=rtl] .select2-selection--multiple .select2-selection__placeholder,
.select2-container--default[dir=rtl] .select2-selection--multiple .select2-search--inline {
  float: right;
}

.select2-container--default[dir=rtl] .select2-selection--multiple .select2-selection__choice {
  margin-left: 5px;
  margin-right: auto;
}

.select2-container--default[dir=rtl] .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: 2px;
  margin-right: auto;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: solid black 1px;
  outline: 0;
}

.select2-container--default.select2-container--disabled .select2-selection--multiple {
  background-color: #eee;
  cursor: default;
}

.select2-container--default.select2-container--disabled .select2-selection__choice__remove {
  display: none;
}

.select2-container--default.select2-container--open.select2-container--above .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa;
}

.select2-container--default .select2-search--inline .select2-search__field {
  background: transparent;
  border: none;
  outline: 0;
  box-shadow: none;
  -webkit-appearance: textfield;
}

.select2-container--default .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto;
}

.select2-container--default .select2-results__option[role=group] {
  padding: 0;
}

.select2-container--default .select2-results__option[aria-disabled=true] {
  color: #999;
}

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #ddd;
}

.select2-container--default .select2-results__option .select2-results__option {
  padding-left: 1em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__group {
  padding-left: 0;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -1em;
  padding-left: 2em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -2em;
  padding-left: 3em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -3em;
  padding-left: 4em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -4em;
  padding-left: 5em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -5em;
  padding-left: 6em;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #5897fb;
  color: white;
}

.select2-container--default .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px;
}

.select2-container--classic .select2-selection--single {
  background-color: #f7f7f7;
  border: 1px solid #aaa;
  border-radius: 4px;
  outline: 0;
  background-image: linear-gradient(to bottom, #fff 50%, #eee 100%);
  background-repeat: repeat-x;
}

.select2-container--classic .select2-selection--single:focus {
  border: 1px solid #5897fb;
}

.select2-container--classic .select2-selection--single .select2-selection__rendered {
  color: #444;
  line-height: 28px;
}

.select2-container--classic .select2-selection--single .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
  margin-right: 10px;
}

.select2-container--classic .select2-selection--single .select2-selection__placeholder {
  color: #999;
}

.select2-container--classic .select2-selection--single .select2-selection__arrow {
  background-color: #ddd;
  border: none;
  border-left: 1px solid #aaa;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  height: 26px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px;
  background-image: linear-gradient(to bottom, #eee 50%, #ccc 100%);
  background-repeat: repeat-x;
}

.select2-container--classic .select2-selection--single .select2-selection__arrow b {
  border-color: #888 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  height: 0;
  left: 50%;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 0;
}

.select2-container--classic[dir=rtl] .select2-selection--single .select2-selection__clear {
  float: left;
}

.select2-container--classic[dir=rtl] .select2-selection--single .select2-selection__arrow {
  border: none;
  border-right: 1px solid #aaa;
  border-radius: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  left: 1px;
  right: auto;
}

.select2-container--classic.select2-container--open .select2-selection--single {
  border: 1px solid #5897fb;
}

.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow {
  background: transparent;
  border: none;
}

.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #888 transparent;
  border-width: 0 4px 5px 4px;
}

.select2-container--classic.select2-container--open.select2-container--above .select2-selection--single {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-image: linear-gradient(to bottom, #fff 0%, #eee 50%);
  background-repeat: repeat-x;
}

.select2-container--classic.select2-container--open.select2-container--below .select2-selection--single {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-image: linear-gradient(to bottom, #eee 50%, #fff 100%);
  background-repeat: repeat-x;
}

.select2-container--classic .select2-selection--multiple {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: text;
  outline: 0;
}

.select2-container--classic .select2-selection--multiple:focus {
  border: 1px solid #5897fb;
}

.select2-container--classic .select2-selection--multiple .select2-selection__rendered {
  list-style: none;
  margin: 0;
  padding: 0 5px;
}

.select2-container--classic .select2-selection--multiple .select2-selection__clear {
  display: none;
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice {
  background-color: #e4e4e4;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: default;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  padding: 0 5px;
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove {
  color: #888;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin-right: 2px;
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #555;
}

.select2-container--classic[dir=rtl] .select2-selection--multiple .select2-selection__choice {
  float: right;
  margin-left: 5px;
  margin-right: auto;
}

.select2-container--classic[dir=rtl] .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: 2px;
  margin-right: auto;
}

.select2-container--classic.select2-container--open .select2-selection--multiple {
  border: 1px solid #5897fb;
}

.select2-container--classic.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.select2-container--classic.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select2-container--classic .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa;
  outline: 0;
}

.select2-container--classic .select2-search--inline .select2-search__field {
  outline: 0;
  box-shadow: none;
}

.select2-container--classic .select2-dropdown {
  background-color: #fff;
  border: 1px solid transparent;
}

.select2-container--classic .select2-dropdown--above {
  border-bottom: none;
}

.select2-container--classic .select2-dropdown--below {
  border-top: none;
}

.select2-container--classic .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto;
}

.select2-container--classic .select2-results__option[role=group] {
  padding: 0;
}

.select2-container--classic .select2-results__option[aria-disabled=true] {
  color: grey;
}

.select2-container--classic .select2-results__option--highlighted[aria-selected] {
  background-color: #3875d7;
  color: #fff;
}

.select2-container--classic .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px;
}

.select2-container--classic.select2-container--open .select2-dropdown {
  border-color: #5897fb;
}

.select2-container--bootstrap {
  display: block;
}

.select2-container--bootstrap .select2-selection {
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 4px;
  color: #555;
  height: calc(1.5em + .75rem + 2px);
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  outline: 0;
}

.select2-container--bootstrap .select2-selection.form-control,
.select2-container--bootstrap .select2-container--default .select2-selection.select2-selection--single,
.select2-container--default .select2-container--bootstrap .select2-selection.select2-selection--single {
  border-radius: 4px;
}

.select2-container--bootstrap .select2-search--dropdown .select2-search__field {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #555;
  font-size: 14px;
}

.select2-container--bootstrap .select2-search__field {
  outline: 0;
}

.select2-container--bootstrap .select2-search__field::-webkit-input-placeholder {
  color: #999;
}

.select2-container--bootstrap .select2-search__field:-moz-placeholder {
  color: #999;
}

.select2-container--bootstrap .select2-search__field::-moz-placeholder {
  color: #999;
  opacity: 1;
}

.select2-container--bootstrap .select2-search__field:-ms-input-placeholder {
  color: #999;
}

.select2-container--bootstrap .select2-results__option {
  padding: 6px 12px;
}

.select2-container--bootstrap .select2-results__option[role=group] {
  padding: 0;
}

.select2-container--bootstrap .select2-results__option[aria-disabled=true] {
  color: #777;
  cursor: not-allowed;
}

.select2-container--bootstrap .select2-results__option[aria-selected=true] {
  background-color: #f5f5f5;
  color: #262626;
}

.select2-container--bootstrap .select2-results__option--highlighted[aria-selected] {
  background-color: #337ab7;
  color: #fff;
}

.select2-container--bootstrap .select2-results__option .select2-results__option {
  padding: 6px 12px;
}

.select2-container--bootstrap .select2-results__option .select2-results__option .select2-results__group {
  padding-left: 0;
}

.select2-container--bootstrap .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -12px;
  padding-left: 24px;
}

.select2-container--bootstrap .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -24px;
  padding-left: 36px;
}

.select2-container--bootstrap .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -36px;
  padding-left: 48px;
}

.select2-container--bootstrap .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -48px;
  padding-left: 60px;
}

.select2-container--bootstrap .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -60px;
  padding-left: 72px;
}

.select2-container--bootstrap .select2-results__group {
  color: #777;
  display: block;
  padding: 6px 12px;
  font-size: 12px;
  line-height: 1.42857143;
  white-space: nowrap;
}

.select2-container--bootstrap.select2-container--focus .select2-selection,
.select2-container--bootstrap.select2-container--open .select2-selection {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  border-color: #80bdff;
  outline: 0;
}

.select2-container--bootstrap {
  width: 100% !important;
}

.select2-container--bootstrap.select2-container--open .select2-selection .select2-selection__arrow b {
  border-color: transparent transparent #999;
  border-width: 0 4px 4px;
}

.select2-container--bootstrap.select2-container--open.select2-container--below .select2-selection {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-color: transparent;
}

.select2-container--bootstrap.select2-container--open.select2-container--above .select2-selection {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top-color: transparent;
}

.select2-container--bootstrap .select2-selection__clear {
  color: #999;
  cursor: pointer;
  float: right;
  font-weight: 700;
  margin-right: 10px;
}

.select2-container--bootstrap .select2-selection__clear:hover {
  color: #333;
}

.select2-container--bootstrap.select2-container--disabled .select2-selection {
  border-color: #ccc;
  box-shadow: none;
}

.select2-container--bootstrap.select2-container--disabled .select2-search__field,
.select2-container--bootstrap.select2-container--disabled .select2-selection {
  cursor: not-allowed;
}

.select2-container--bootstrap.select2-container--disabled .select2-selection,
.select2-container--bootstrap.select2-container--disabled .select2-selection--multiple .select2-selection__choice {
  background-color: #eee;
}

.select2-container--bootstrap.select2-container--disabled .select2-selection--multiple .select2-selection__choice__remove,
.select2-container--bootstrap.select2-container--disabled .select2-selection__clear {
  display: none;
}

.select2-container--bootstrap .select2-dropdown {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  border-color: #66afe9;
  overflow-x: hidden;
  margin-top: -1px;
}

.select2-container--bootstrap .select2-dropdown--above {
  box-shadow: 0 -6px 12px rgba(0, 0, 0, 0.175);
  margin-top: 1px;
}

.select2-container--bootstrap .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto;
}

.select2-container--bootstrap .select2-selection--single .select2-selection__arrow {
  display: none;
  position: absolute;
  bottom: 0;
  right: 12px;
  top: 0;
  width: 4px;
}

.select2-container--bootstrap .select2-selection--single .select2-selection__arrow b {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 4px 4px 0;
  height: 0;
  left: 0;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 0;
}

.select2-container--bootstrap .select2-selection--single .select2-selection__rendered {
  color: #555;
  padding: 0;
}

.select2-container--bootstrap .select2-selection--single .select2-selection__placeholder {
  color: #999;
}

.select2-container--bootstrap .select2-selection--multiple {
  min-padding: 0;
  height: auto;
}

.select2-container--bootstrap .select2-selection--multiple .select2-selection__rendered {
  box-sizing: border-box;
  display: block;
  line-height: 1.42857143;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.select2-container--bootstrap .select2-selection--multiple .select2-selection__placeholder {
  color: #999;
  float: left;
  margin-top: 5px;
}

.select2-container--bootstrap .select2-selection--multiple .select2-selection__choice {
  color: #555;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: default;
  float: left;
  margin: 5px 0 0 6px;
  padding: 0 6px;
}

.select2-container--bootstrap .select2-selection--multiple .select2-search--inline .select2-search__field {
  background: 0 0;
  padding: 0 12px;
  height: 32px;
  line-height: 1.42857143;
  margin-top: 0;
  min-width: 5em;
}

.select2-container--bootstrap .select2-selection--multiple .select2-selection__choice__remove {
  color: #999;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  margin-right: 3px;
}

.select2-container--bootstrap .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #333;
}

.select2-container--bootstrap .select2-selection--multiple .select2-selection__clear {
  margin-top: 6px;
}

.form-group-sm .select2-container--bootstrap .select2-selection--single,
.input-group-sm .select2-container--bootstrap .select2-selection--single,
.select2-container--bootstrap .select2-selection--single.input-sm {
  border-radius: 3px;
  font-size: 12px;
  height: 30px;
  line-height: 1.5;
  padding: 5px 22px 5px 10px;
}

.form-group-sm .select2-container--bootstrap .select2-selection--single .select2-selection__arrow b,
.input-group-sm .select2-container--bootstrap .select2-selection--single .select2-selection__arrow b,
.select2-container--bootstrap .select2-selection--single.input-sm .select2-selection__arrow b {
  margin-left: -5px;
}

.form-group-sm .select2-container--bootstrap .select2-selection--multiple,
.input-group-sm .select2-container--bootstrap .select2-selection--multiple,
.select2-container--bootstrap .select2-selection--multiple.input-sm {
  min-height: 30px;
  border-radius: 3px;
}

.form-group-sm .select2-container--bootstrap .select2-selection--multiple .select2-selection__choice,
.input-group-sm .select2-container--bootstrap .select2-selection--multiple .select2-selection__choice,
.select2-container--bootstrap .select2-selection--multiple.input-sm .select2-selection__choice {
  font-size: 12px;
  line-height: 1.5;
  margin: 4px 0 0 5px;
  padding: 0 5px;
}

.form-group-sm .select2-container--bootstrap .select2-selection--multiple .select2-search--inline .select2-search__field,
.input-group-sm .select2-container--bootstrap .select2-selection--multiple .select2-search--inline .select2-search__field,
.select2-container--bootstrap .select2-selection--multiple.input-sm .select2-search--inline .select2-search__field {
  padding: 0 10px;
  font-size: 12px;
  height: 28px;
  line-height: 1.5;
}

.form-group-sm .select2-container--bootstrap .select2-selection--multiple .select2-selection__clear,
.input-group-sm .select2-container--bootstrap .select2-selection--multiple .select2-selection__clear,
.select2-container--bootstrap .select2-selection--multiple.input-sm .select2-selection__clear {
  margin-top: 5px;
}

.form-group-lg .select2-container--bootstrap .select2-selection--single,
.input-group-lg .select2-container--bootstrap .select2-selection--single,
.select2-container--bootstrap .select2-selection--single.input-lg {
  border-radius: 6px;
  font-size: 18px;
  height: 46px;
  line-height: 1.3333333;
  padding: 10px 31px 10px 16px;
}

.form-group-lg .select2-container--bootstrap .select2-selection--single .select2-selection__arrow,
.input-group-lg .select2-container--bootstrap .select2-selection--single .select2-selection__arrow,
.select2-container--bootstrap .select2-selection--single.input-lg .select2-selection__arrow {
  width: 5px;
}

.form-group-lg .select2-container--bootstrap .select2-selection--single .select2-selection__arrow b,
.input-group-lg .select2-container--bootstrap .select2-selection--single .select2-selection__arrow b,
.select2-container--bootstrap .select2-selection--single.input-lg .select2-selection__arrow b {
  border-width: 5px 5px 0;
  margin-left: -10px;
  margin-top: -2.5px;
}

.form-group-lg .select2-container--bootstrap .select2-selection--multiple,
.input-group-lg .select2-container--bootstrap .select2-selection--multiple,
.select2-container--bootstrap .select2-selection--multiple.input-lg {
  min-height: 46px;
  border-radius: 6px;
}

.form-group-lg .select2-container--bootstrap .select2-selection--multiple .select2-selection__choice,
.input-group-lg .select2-container--bootstrap .select2-selection--multiple .select2-selection__choice,
.select2-container--bootstrap .select2-selection--multiple.input-lg .select2-selection__choice {
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 4px;
  margin: 9px 0 0 8px;
  padding: 0 10px;
}

.form-group-lg .select2-container--bootstrap .select2-selection--multiple .select2-search--inline .select2-search__field,
.input-group-lg .select2-container--bootstrap .select2-selection--multiple .select2-search--inline .select2-search__field,
.select2-container--bootstrap .select2-selection--multiple.input-lg .select2-search--inline .select2-search__field {
  padding: 0 16px;
  font-size: 18px;
  height: 44px;
  line-height: 1.3333333;
}

.form-group-lg .select2-container--bootstrap .select2-selection--multiple .select2-selection__clear,
.input-group-lg .select2-container--bootstrap .select2-selection--multiple .select2-selection__clear,
.select2-container--bootstrap .select2-selection--multiple.input-lg .select2-selection__clear {
  margin-top: 10px;
}

.input-group-lg .select2-container--bootstrap .select2-selection.select2-container--open .select2-selection--single .select2-selection__arrow b,
.select2-container--bootstrap .select2-selection.input-lg.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #999;
  border-width: 0 5px 5px;
}

.select2-container--bootstrap[dir=rtl] .select2-selection--single {
  padding-left: 24px;
  padding-right: 12px;
}

.select2-container--bootstrap[dir=rtl] .select2-selection--single .select2-selection__rendered {
  padding-right: 0;
  padding-left: 0;
  text-align: right;
}

.select2-container--bootstrap[dir=rtl] .select2-selection--single .select2-selection__clear {
  float: left;
}

.select2-container--bootstrap[dir=rtl] .select2-selection--single .select2-selection__arrow {
  left: 12px;
  right: auto;
}

.select2-container--bootstrap[dir=rtl] .select2-selection--single .select2-selection__arrow b {
  margin-left: 0;
}

.select2-container--bootstrap[dir=rtl] .select2-selection--multiple .select2-search--inline,
.select2-container--bootstrap[dir=rtl] .select2-selection--multiple .select2-selection__choice,
.select2-container--bootstrap[dir=rtl] .select2-selection--multiple .select2-selection__placeholder {
  float: right;
}

.select2-container--bootstrap[dir=rtl] .select2-selection--multiple .select2-selection__choice {
  margin-left: 0;
  margin-right: 6px;
}

.select2-container--bootstrap[dir=rtl] .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: 2px;
  margin-right: auto;
}

.has-warning .select2-dropdown,
.has-warning .select2-selection {
  border-color: #8a6d3b;
}

.has-warning .select2-container--focus .select2-selection,
.has-warning .select2-container--open .select2-selection {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
  border-color: #66512c;
}

.has-warning.select2-drop-active {
  border-color: #66512c;
}

.has-warning.select2-drop-active.select2-drop.select2-drop-above {
  border-top-color: #66512c;
}

.has-error .select2-dropdown,
.has-error .select2-selection {
  border-color: #a94442;
}

.has-error .select2-container--focus .select2-selection,
.has-error .select2-container--open .select2-selection {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
  border-color: #843534;
}

.has-error.select2-drop-active {
  border-color: #843534;
}

.has-error.select2-drop-active.select2-drop.select2-drop-above {
  border-top-color: #843534;
}

.has-success .select2-dropdown,
.has-success .select2-selection {
  border-color: #3c763d;
}

.has-success .select2-container--focus .select2-selection,
.has-success .select2-container--open .select2-selection {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
  border-color: #2b542c;
}

.has-success.select2-drop-active {
  border-color: #2b542c;
}

.has-success.select2-drop-active.select2-drop.select2-drop-above {
  border-top-color: #2b542c;
}

.input-group > .select2-hidden-accessible:first-child + .select2-container--bootstrap > .selection > .select2-selection,
.input-group > .select2-hidden-accessible:first-child + .select2-container--bootstrap > .selection > .select2-selection.form-control {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.input-group > .select2-hidden-accessible:not(:first-child) + .select2-container--bootstrap:not(:last-child) > .selection > .select2-selection,
.input-group > .select2-hidden-accessible:not(:first-child) + .select2-container--bootstrap:not(:last-child) > .selection > .select2-selection.form-control {
  border-radius: 0;
}

.input-group > .select2-hidden-accessible:not(:first-child):not(:last-child) + .select2-container--bootstrap:last-child > .selection > .select2-selection,
.input-group > .select2-hidden-accessible:not(:first-child):not(:last-child) + .select2-container--bootstrap:last-child > .selection > .select2-selection.form-control {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.input-group > .select2-container--bootstrap {
  display: table;
  table-layout: fixed;
  position: relative;
  z-index: 2;
  width: 100%;
  margin-bottom: 0;
}

.input-group > .select2-container--bootstrap > .selection > .select2-selection.form-control,
.select2-container--default .input-group > .select2-container--bootstrap > .selection > .select2-selection.select2-selection--single {
  float: none;
}

.input-group > .select2-container--bootstrap.select2-container--focus,
.input-group > .select2-container--bootstrap.select2-container--open {
  z-index: 3;
}

.input-group > .select2-container--bootstrap,
.input-group > .select2-container--bootstrap .input-group-btn,
.input-group > .select2-container--bootstrap .input-group-btn .btn {
  vertical-align: top;
}

.form-control.select2-hidden-accessible,
.select2-container--default .select2-hidden-accessible.select2-selection--single {
  position: absolute !important;
  width: 1px !important;
}

@media (min-width: 768px) {
  .form-inline .select2-container--bootstrap {
    display: inline-block;
  }
}

.select2-container--bootstrap .select2-selection {
  background-image: url(/images/chevron-down.svg?a4def72d2130ad495bd430a382c6e02c);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: calc(100% - 10px);
}

