.c-user--logout {
  line-height: 30px;
  cursor: pointer;
  display: none;
}

.c-sidebar--logo .c-bars {
  display: none;
}

@media (max-width: 743px) {

  /* Header */

  .c-header {
    width: 100%;
    left: 0;
  }

  .c-header .c-bars {
    padding: 15px 20px
  }

  .c-header .c-user.dropdown {
    width: auto;
    margin-left: auto;
    border-left: 0;
    padding: 15px 20px
  }

  .c-header .c-user--logout {
    display: block;
  }

  .c-header .c-user.dropdown .c-user--avatar,
  .c-header .c-user.dropdown .c-user--arrow,
  .c-header .c-user.dropdown .c-user--name {
    display: none;
  }

  .c-header .c-search{
    display: none;
  }

  .c-header.is-close {
    left: 0;
    width: 100%;
    display: flex;
  }

  /* Sidebar */

  .c-sidebar {
    width: 100%;
    padding: 15px 0;
  }

  .c-sidebar .c-nav {
    padding: 0 20px;
    height: calc(100vh - 70px);
  }

  .c-sidebar.is-close {
    width: 100%;
    display: none;
  }

  .c-sidebar--logo {
    padding: 0 20px;
    margin-bottom: 0 !important;
  }

  .c-sidebar--logo .btn {
    display: none;
  }

  .c-sidebar--logo .text-center {
    text-align: left !important;
  }

  .c-sidebar .logo-full {
    margin: 0;
    display: inline-block;
  }

  .c-sidebar--logo .c-bars{
    width: calc(100% - 60px - 231px);
    line-height: 30px;
    display: inline-block;
    vertical-align: middle;
  }

  .c-sidebar--logo a {
    display: none;
  }

  /* Main */

  .main {
    padding-left: 0;
    margin-top: 60px;
  }

  .main.is-close {
    width: 100%;
    margin-left: 0;
  }

  .main .c-title h1{
    font-size: 1.2rem;
    text-align: center;
  }

  .main .c-title a{
    margin-top: 15px !important;
    width: 100%;
  }

  /* Typo */

  h2 {
    font-size: 1.2rem;
  }

  /* Breadcrumb */

  .breadcrumb {
    display: none;
  }

  /* Form */
  
  .c-form {
    margin: 10px auto 120px;
    padding: 15px;
  }
}