html, body {
  background-color: $background;
  color: $noir;
  font-size: 14px;
  line-height: 21px;
  font-family: 'Open Sans', sans-serif;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1.2rem; }
h4 { font-size: .1rem; }
h5 { font-size: .85rem; }

.main {
  position: absolute;
  z-index: 3;
  margin-top: 70px;
  padding-left: 300px;
  transition: all 0s;
  width: 100%;
  top: 0;
  left: 0;
  &.is-close {
    margin-left: 100px;
    width: calc(100% - 100px);
    padding-left: 0;
  }
}