// Bebewash color variables
$blue-azure : #225F90;
$grey-marble : #D5EBF4;
$grey-50 : #FAFCFD;
$background : #F5F6FA;
$blue-dodger : #3386FF;
$watermelon : #FF517C;
$supernova : #FFB12D;
$noir : #212121;
$blank : #FFFFFF;

// Font
$font-family: "Avenir Next LT Pro", Helvetica, Arial, sans-serif !default;

// Breakpoints
$v-xxs  : 554px;
$v-xs   : 767px;
$v-sm   : 992px;
$v-md   : 1200px;
$v-lg   : 1400px;
$v-xl   : 1600px;
$v-xxl  : 2100px;
